<navigation></navigation>
<nav-modals></nav-modals>

<div class="container text-center">

    <page-header class="container text-center"></page-header>
    <!-- Content Section -->

    <div id="content" class="container">
        <!-- <side-col align="left"></side-col> -->
        <!-- (3) Left side column component -->


        <!-- (9) Main body content -->
        <main-body message="vm.message" path="vm.path" events="vm.events" entries="vm.entries" content="vm.mainContent" home="vm.isHome"></main-body>

        <!-- <side-col></side-col> -->
    </div>

	<footer-generic></footer-generic>
</div>