<div class="modal-content">
	<form id="updateEvent" name="updateEvent" ng-submit="emcvm.onSubmit()" class="form-horizontal">
		<div class="modal-header">
			<button type="button" data-toggle="modal" data-dismiss="modal" class="close">
				<span ng-click="emcvm.modal.close()" aria-hidden="true">x</span><span class="sr-only">Close</span>
			</button>
			<ul class="list-inline list-unstyled">
				<div role="alert" ng-hide="emcvm.readOnly" ng-if="emcvm.formError" class="alert alert-danger">	{{emcvm.formError}}
				</div>
				<li ng-hide="emcvm.readOnly">
					<h4>
						<input id="name" name="name" class="form-control" ng-model="emcvm.formData.name" value="{{emcvm.event.name}}" uib-tooltip="Change the name"></input>
					</h4>
				</li>

				<li ng-show="emcvm.readOnly">
					<h4 id="head" class="makeblack">{{emcvm.event.name}}</h4>
				</li>

				<li>
					<!-- add authentication here -->
					<button class="makeblack" ng-show="emcvm.readOnly" type="button" data-toggle="modal" data-target="#{{emcvm.event._id}}modal" ng-click="emcvm.toggleReadOnly()" tooltip-placement="right" uib-tooltip="Need to change something?">
						<i class="glyphicon glyphicon-pencil"></i> Edit
					</button>
					<!-- close authentication here -->
				</li>
				<li>
					<button class="makeblack" ng-hide="emcvm.readOnly" type="button" data-toggle="modal" data-target="#{{emcvm.event._id}}modal" ng-click="emcvm.toggleReadOnly()" tooltip-placement="right" uib-tooltip="Are you finished?">
						<i class="glyphicon glyphicon-pencil"></i> Done
					</button>
				</li>
			</ul>
			<!-- UPDATE Event Time here -->
			<small class="makeblack">{{emcvm.event.time | date : 'EEE MMM dd yyyy h:mm a'}}</small>
			<!-- end update -->
		</div>
		<div class="modal-body">
			<p class="makeblack" ng-show="emcvm.readOnly">{{emcvm.event.info}}</p>
			<p class="makeblack" ng-hide="emcvm.readOnly">
				<textarea id="info" name="info" class="form-control" rows="5" ng-model="emcvm.formData.info" value="{{emcvm.event.info}}" uib-tooltip="Change the description"></textarea>
			</p>
			<!-- Guestlist -->
			<div class="makeblack" ng-show="emcvm.hasGuests">
				<small>Going</small>
				<ul class="list-inline list-unstyled">
					<li ng-show="guest.attending" ng-repeat="guest in emcvm.event.guestList">{{guest.firstName}}</li>
				</ul>
				<small>Not going</small>
				<ul class="list-inline list-unstyled">
					<li ng-hide="guest.attending" ng-repeat="guest in emcvm.event.guestList">{{guest.firstName}}</li>
				</ul>
			</div>
			<!-- End guestlist -->
		</div>
		<div class="modal-footer">
			<!-- authentication here -->
			<div class="pull-left makeblack">
				<strong>Will you attend?</strong>
				<a class="btn btn-default" href="#">Yes</a>
				<a class="btn btn-default" href="#">No</a>
			</div>
			<button ng-hide="emcvm.readOnly" type="submit" class="btn btn-success" data-dismiss="modal">Save changes</button>
			<button ng-show="emcvm.readOnly" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="emcvm.doDelete(emcvm.event._id)">Delete</button>
			<!-- end authentication -->
	      	<button ng-click="emcvm.modal.close()" type="button" class="btn btn-default">Close</button>
		</div>
	</form>
</div>

